* {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* Firefox (Limited Styling Control) */
    scrollbar-width: thin;
    scrollbar-color: hsla(0, 0%, 0%, 0.75) hsla(0, 0%, 0%, 0.50);
}

/* Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: .5rem;
    background: linear-gradient(to bottom, #000, #800080);
}

::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 0%, 0.75);
    border-radius: 1rem;
}

::-webkit-scrollbar-track {
    background: hsla(0, 0%, 0%, 0.50);
}

body {
    color: #fff;
    background-color: #303030;
    background-image: url(images/festival_bg_3.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    min-width: 375px;
}