* {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #303030;
    background-image: url(images/festival_bg.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    min-width: 375px;
}

/*_______________________Navbar_______________________*/
#navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    color: #fff;
    background-color: hsla(0, 0%, 0%, 0.25);
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: .5rem;
}

.navbar-menu a {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 0;
    border-radius: .5rem;
    transition: color 0.3s ease;
    color: #fff;
    background-color: hsla(0, 0%, 0%, 0.25);
}

.navbar-menu a:hover {
    background-color: hsla(0, 0%, 100%, 0.25);
}

/*_______________________FILTERS_______________________*/
#filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    padding: 1rem;
    color: #fff;
}

.filter-label {
    margin-bottom: .5rem;
    padding-right: .5rem;
    font-size: 1rem;
    font-weight: bold;
}

.filter-select {
    font-size: 1rem;
    padding: 0.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
    cursor: pointer;
}

/*_______________________CONTENT______________________*/
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
}

/*_______________________CARD_________________________*/
.artist-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 1rem;
    background: hsla(0, 0%, 0%, 0.75);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 10); */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.artist-card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    /* background: hsla(0, 0%, 0%, 0.50); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.artist-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #fff;
}

.artist-card p {
    font-size: 1rem;
    color: #fff;
}

.artist-card .label {
    font-weight: bold;
    color: #fff;
}

/*_______________________MEDIA QUERY__________________*/
@media (min-width: 600px) {
    #navbar {
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        top: 0;
        z-index: 1000;
        padding: 1rem 1.5rem;
    }

    .navbar-menu {
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
        width: auto;
    }

    .navbar-menu a {
        width: auto;
        padding: 0;
        text-align: left;
        background-color: transparent;
    }

    .navbar-menu a:hover {
        background-color: transparent;
        color: #FFDF49;
    }

    #filters {
        flex-direction: row;
        gap: 2rem;
    }

    #content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 2rem;
    }

    .artist-card {
        width: calc(50% - 1rem);
    }
}

/* @media (min-width: 1024px) {
    .artist-card {
        width: calc(66.666% - 1rem);
    }
} */