/*_______________________Navbar_______________________*/
#navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    color: #fff;
    background-color: hsla(0, 0%, 0%, 0.25);
}

.navbar-logo {
    font-family: "Cinzel Decorative", serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: #FFDF49;
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: .5rem;
}

.navbar-menu a {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    padding: .5rem 0;
    border-radius: .5rem;
    transition: color 0.3s ease;
    color: #fff;
    background-color: hsla(0, 0%, 0%, 0.25);
}

.navbar-menu a:hover {
    background-color: hsla(0, 0%, 100%, 0.25);
}

/*_______________________MEDIA QUERY__________________*/
@media (min-width: 600px) {
    #navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1000;
        padding: 1rem 1.5rem;
    }

    .navbar-logo {
        line-height: auto;
    }

    .navbar-menu {
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
        width: auto;
    }

    .navbar-menu a {
        width: auto;
        padding: 0;
        text-align: left;
        background-color: transparent;
    }

    .navbar-menu a:hover {
        background-color: transparent;
        color: #FFDF49;
    }
}